{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <turbo-frame id="id_category">
        <h1>Create new Category</h1>

        {{ include('category/_form.html.twig') }}

        {% for message in app.flashes('error') %}
            <div class="error-message">{{ message }}</div>
        {% endfor %}

        <a href="{{ path('app_category_index') }}">back to list</a>
    </turbo-frame>
{% endblock %}
